body{
    background-color: #deedf9;
    margin: 0;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* @font-face {
    font-family: "Runescape";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("runescape_uf"), url("/fonts/runescape_uf.ttf") format("ttf");
} */
  
.purp{
    color: #b784c2;
}

.between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p15{
    padding-right: 15px;
    padding-left: 15px;
}

.white-text{
    color: white;
}

.primary-brand{
    color: #4485ac;
    font-weight: 800;
    font-size: 18px;
}

