body{
    background-color: azure;
    margin: 0;
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
      scrollbar-width: none;
    }
}
::-webkit-scrollbar {
    display: none;
}
  

.between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p15{
    padding-right: 15px;
    padding-left: 15px;
}